<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBSwK9iPNBdOrufs7uzcqK46c2Xihculto</string>
	<key>GCM_SENDER_ID</key>
	<string>267906357053</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cosmoQuest</string>
	<key>PROJECT_ID</key>
	<string>cosmo-quest</string>
	<key>STORAGE_BUCKET</key>
	<string>cosmo-quest.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:267906357053:ios:8c99e13c43142c82ba1754</string>
</dict>
</plist>